<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.kth.projectarbor.project_arbor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_a"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainUIActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:largeHeap="true">/>
        <activity
            android:name=".NewTreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GenderHeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar">
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".tutorial.TutorialArbor"
            android:label="@string/title_activity_tutorial_arbor"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ProgressBarTest" />

        <!-- IMPORTANT: "enabled" must be true for receiver to be able to be instantiated
         by the system. "exported" must be true to be able to receive messages from sources
         outside of the application. -->
        <receiver
            android:name=".ShutdownReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>